* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #D8D4F2; */
    background-color: #c9b6d8;
}

.container{
    /* border: 2px solid black; */
    min-height: 40vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* font-family: cursive; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    font-weight: 700;
    /* background-color: #c4b2bc; */
    background-color: #f6cadc;
    color: #0a0f49;
}

.quote{
    min-height: 20vh;
    max-width: 80%;
    text-align: center;
    margin: 40px 0 0 0;
}

.quote p{
    padding: 1rem;
}

.generate{
    padding: 1rem;
    background-color: #c4dffb;
    border-radius: 10px;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem;
    border: none;
    transition: transform 0.3s ease;
}

.generate:active{
    transform: scale(0.9);
}

.load{
    height: 100px;
    width: 100px;
    /* border: 16px solid gainsboro; */
    border: 16px solid  #c9b6d8;
    border-top:16px solid #141e8d;
    border-radius: 50%;
    animation: loading 2s linear infinite;
    position: relative;
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width:500px) {
    .container{
        font-size: 1.5rem;
    }
}